<% content_for :title, "Editing movie" %>

<h1>Editing movie</h1>

<%= form_with(model: @movie, local: true) do |form| %>
  <!-- 隐藏字段传递排序参数 -->
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= hidden_field_tag :direction, params[:direction] %>

  <%= render "form", movie: @movie %>
<% end %>

<br>

<%= link_to "Back to movies", movies_path(sort: params[:sort], direction: params[:direction]) %>
