<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>
  
<table style="border-collapse: collapse; width: 100%; text-align: left;">
  <thead>
    <tr>
      <th style="padding: 10px; border-bottom: 2px solid #ccc;">Title</th>
      <th style="padding: 10px; border-bottom: 2px solid #ccc;">Rating</th>
      <th style="padding: 10px; border-bottom: 2px solid #ccc;">Release Date</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td style="padding: 10px; border-bottom: 1px solid #eee;"><%= link_to movie.title, movie %></td>
        <td style="padding: 10px; border-bottom: 1px solid #eee;"><%= movie.rating %></td>
        <td style="padding: 10px; border-bottom: 1px solid #eee;"><%= movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path %>
