<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie, sort: params[:sort], direction: params[:direction]) %> |
  <%= link_to "Back to movies", movies_path(sort: params[:sort], direction: params[:direction]) %>

  <%= button_to "Destroy this movie", movie_path(@movie, sort: params[:sort], direction: params[:direction]), method: :delete %>
</div>
